<div class="tabs-container">
  <ul class="nav nav-pills nav-fill" id="developer-tabs">
    <li class="nav-item active developer-super-tab text-center">
      <a class="nav-link" href="#developer-dashboard" data-toggle="tab">Developer</a>
    </li>
    <li class="nav-item developer-super-tab text-center">
      <a class="nav-link" href="#buyer-dashboard" data-toggle="tab">Buyer</a>
    </li>
  </ul>
</div>
