<div class="container">
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="developer-dashboard">
      <div class="container">
        <h1>Selling Services</h1>
        <div class="flex-area">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item active">
              <a class="nav-link active" href="#all_jobs" data-toggle="tab">All Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#active_jobs" data-toggle="tab">Current Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#open_jobs" data-toggle="tab">All Bids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#closed_jobs" data-toggle="tab">Open Bids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#closed_jobs" data-toggle="tab">Unsuccessful Bids</a>
            </li>
          </ul>
        </div>
        <%= render 'shared/developer-dashboard-sub' %>
      </div>
    </div>
    <div class="tab-pane" id="buyer-dashboard">
      <h1>Buying Services</h1>
      <%= render 'shared/buyer-dashboard-tabs' %>
      <%= render 'shared/buyer-dashboard' %>
    </div>
  </div>
</div>
