<div class="banner">
  <div class="banner-content text-left">
    <div>
      <h1>Get the right developer for your job. Find your fit.</h1>
      <p>Post a job to get developers on</p>
      <a class="btn btn-primary btn-lg primary-color">Get Started</a>
      <a class="btn btn-primary btn-lg secondary-color">I'm a developer</a>
    </div>
    <%= image_tag "landing-background.png" %>
  </div>
</div>

