<div class="banner">
  <div class="banner-content text-left">
    <div>
      <h1>Get the right developer for your job. Find your fit.</h1>
      <p>Post a job to get developers on</p>
      <%= link_to "Lets get working", new_job_path, class:'btn btn-primary btn-lg primary-color' %>
      <%= link_to "I'm a developer", jobs_path, class:'btn btn-primary btn-lg secondary-color' %>
    </div>
    <%= image_tag "landing-background.png" %>
  </div>
</div>

