.developer-super-tab {
  width: 49.9%;
}

#developer-tabs {
  width: calc(100% + 30px);
  margin-bottom: 50px;
  position: relative;
  left: -15px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  li.active {
    background-color: $main-blue !important;
    a {
      background-color:inherit;
    }
  }
}

.dashboard-container {
  min-height: calc(100vh - 90px);
}

.create-job-btn {
  display: inline;
  background-color: $main-orange;
  color: white;
  font-weight: lighter;
}

.flex-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.light-text {
  font-weight: lighter;
}

.nav-link {
  font-weight: lighter;
}

.sub-tabs {
  li.active {
    background-color: $main-blue !important;
    a {
      background-color:inherit;
      &:hover {
        background-color: inherit;
      }

      &:focus {
        background-color: inherit;
      }
    }
  }
}
